.btn {
  padding: .3rem;
  color: #fff;
  border-radius: 10rem;
  border: none;
  padding: .45rem .8rem;

  &-primary {
    background-color: $primary;

    &.btn-link {
      color: $primary;
    }
  }
  &-secondary {
    background-color: $secondary;

    &.btn-link {
      color: $secondary;
    }
  }
  &-danger {
    background-color: $danger;

    &.btn-link {
      color: $danger;
    }
  }
  &-warning {
    background-color: $warning;

    &.btn-link {
      color: $warning;
    }
  }
  &-success {
    background-color: $success;

    &.btn-link {
      color: $success;
    }
  }
  &-info {
    background-color: $info;

    &.btn-link {
      color: $info;
    }
  }

  &-link {
    border-radius: 0;
    background: none;
    border: none;
    color: $info;
  }

  &:focus {
    outline: 1px solid rgba(0, 109, 187, .4);
    box-shadow: 0 0 3px 2px rgba(0, 109, 187, .3);
  }

  &-centered {
    display: block;
    margin: 0 auto;
  }

  &.icon-with-text {
    .btn-icon {
      margin-right: .3rem;
    }
  }

}
