@mixin disabledState($bg: transparent, $color: #fff, $border: transparent) {
  &:disabled {
    background: rgba($bg, .6);
    color: rgba($color, .6);
    border-color: rgba($border, .6);
  }
}

.btn {
  color: #fff;
  border-radius: 3px;
  border: none;
  transition: all .2s ease;

  &-primary {
    background-color: $primary;
    @include disabledState($primary);

    &.btn-link {
      color: $primary;
      @include disabledState(transparent, $primary);
    }
  }
  &-secondary {
    background-color: $secondary;
    @include disabledState($secondary);

    &.btn-link {
      color: $secondary;
      @include disabledState(transparent, $secondary);
    }
  }
  &-danger {
    background-color: $danger;
    @include disabledState($danger);

    &.btn-link {
      color: $danger;
      @include disabledState(transparent, $danger);
    }
  }
  &-warning {
    background-color: $warning;
    @include disabledState($warning);

    &.btn-link {
      color: $warning;
      @include disabledState(transparent, $warning);
    }
  }
  &-success {
    background-color: $success;
    @include disabledState($success);

    &.btn-link {
      color: $success;
      @include disabledState(transparent, $success);
    }
  }
  &-info {
    background-color: $info;
    @include disabledState($info);

    &.btn-link {
      color: $info;
      @include disabledState(transparent, $info);
    }
  }

  &-link {
    border-radius: 0;
    background: none !important;
    border: none;
    color: $info;
  }

  &-xs {
    padding: 0;
  }
  &-sm {
    padding: .15rem .25rem;
  }
  &-md {
    padding: .45rem .8rem;
  }
  &-lg {
    padding: .55rem .9rem;
  }

  &:focus {
    outline: 1px solid rgba(0, 109, 187, .4);
    box-shadow: 0 0 3px 2px rgba(0, 109, 187, .3);
  }

  & > * {
    pointer-events: none;
  }

  &-centered {
    display: block;
    margin: 0 auto;
  }

  &.icon-with-text {
    .btn-icon {
      margin-right: .3rem;
    }
  }

}
