$prefix-diameter: 30px;

.list-group-title {
  font-size: .8rem;
  font-weight: 600;
  color: $gray-500;
  border-bottom: 1px solid $gray-400;
  padding-bottom: 2px;
  text-transform: uppercase;
  margin-bottom: 1rem;
  clear: both;

  .list-group-edit {
    float: right;
  }
}

.list-group {
  padding: 0;
  list-style-type: none;
  margin: 0;
  margin-bottom: 1rem;

  &.icon-list {
    margin-left: $prefix-diameter / 2;
    border-left: 1px solid $gray-400;
  }

  li {
    position: relative;
    align-items: center;
    margin-bottom: .7rem;
    font-weight: 600;
    font-size: .9rem;
    display: flex;

    span, p {
      font-weight: normal;
      margin: 0;
      line-height: 1.25rem;
    }

    &.item-prefixed {
      padding-left: ($prefix-diameter / 2) + 5px;
      padding-bottom: 5px;
      border-bottom: 1px solid $gray-100;

      &:last-of-type {
        border-bottom: none;
      }
    }

    .list-item-prefix {
      width: $prefix-diameter;
      height: $prefix-diameter;
      border-radius: 50%;
      display: flex;
      align-items: center;
      position: absolute;
      left: -($prefix-diameter / 2);
      color: #fff;

      & > * {
        margin: 0 auto;
      }

      &.blue {
        background: $blue;
      }
      &.pink {
        background: $pink;
      }
      &.yellow {
        background: $yellow;
      }
    }
  }
}
