$modal-padding: 15px;

.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .5);
  align-items: center;

  &.open {
    display: flex;
  }

  .modal-dialog {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: $background-gray;
    border-radius: 2px;

    &.modal-sm {
      width: 300px;
    }

    &.modal-md {
      width: 500px;
    }

    &.modal-lg {
      width: 600px;
    }
  }

  .modal-header {
    padding: $modal-padding;

    .modal-title {
      margin-bottom: 0;
    }
  }

  .modal-body {
    background: #fff;
    padding: $modal-padding;
  }

  .modal-footer {
    padding: $modal-padding;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
