.panel {
  border-radius: 3px;
  background: #fff;
  border: 1px solid $gray-300;
  width: 100%;

  &.blue {
    border-top: 4px solid $blue;
  }
  &.pink {
    border-top: 4px solid $pink;
  }
  &.yellow {
    border-top: 4px solid $yellow;
  }

  .panel-header {
    padding: 10px 15px;
    border-radius: 2px 2px 0 0;

    .panel-title {
      margin-bottom: 0;
    }
  }

  .panel-body {
    padding: 0 15px 15px 15px;
  }
}
