.panel {
  position: relative;
  border-radius: 5px;
  background: $gray-100;
  border: 1px solid $gray-400;
  width: 100%;
  margin-bottom: $grid-gutter-width;

  &.blue {
    border-top: 4px solid $blue;
  }
  &.pink {
    border-top: 4px solid $pink;
  }
  &.yellow {
    border-top: 4px solid $yellow;
  }

  &.panel-sticky {
    position: sticky;
    -webkit-position: sticky;
    top: 15px;
  }

  .panel-header {
    padding: 10px 15px 0 15px;
    border-radius: 2px 2px 0 0;
    display: flex;
    justify-content: space-between;

    .panel-title {
      margin-bottom: 0;
    }

    .panel-utility {

    }
  }

  .panel-body {
    padding: 15px;
  }
}
