#side-nav {
  width: 190px;
  // background: $be-background-image;
  background-size: cover;
  background-position: top;
  position: sticky;
  min-height: 100vh;

  .nav-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $be-overlay-color;
    z-index: -1;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  a {
    display: block;
    font-size: 1.3rem;
    color: $body-color;
    padding: .75rem 1.3rem;
    transition: all .2s ease-out;

    &.active {
      border-left: 4px solid $body-color;
      background: $gray-200;
    }

    &:hover {
      text-decoration: none;
    }

    span {
      font-size: .9rem;
      margin-left: 1rem;
    }
  }
}
