.tabs {
  padding: 0;
  margin: 0;
  list-style-type: none;

  .tab-item {
    display: inline-block;

    .tab-link {
      padding: .25rem 0;
      margin-right: .75rem;
      background: none;
      border: none;
      color: $primary;

      &.active {
        border-bottom: 4px solid $blue;
        display: block;
      }

      &:focus {
        outline: none;
        background: $gray-300
      }
    }
  }
}
