.title-bar {
  background: $gray-100;
  border-top: 1px solid $gray-400;
  margin-bottom: $grid-gutter-width;
  border-bottom: 2px solid $gray-400;
  min-height: 85px;
  border-bottom: 2px solid #dee2e6;
  display: flex;
  align-items: center;

  &.title-bar-nav {
    .left-content {
      align-self: flex-end;
    }

    .title {
      margin: 1rem 0 .5rem 0;
    }
  }

  .title {
    margin: 0;
  }

  .right-content {
    margin-left: auto;
  }
}
