.title-bar {
  background: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid $gray-300;
  margin-bottom: 15px;
  border-bottom: 2px solid $gray-300;

  .title {
    margin: 0;
  }
}
