.title-bar {
  background: #fff;
  border-top: 1px solid $gray-300;
  margin-bottom: 15px;
  border-bottom: 2px solid $gray-300;
  height: 85px;
  border-bottom: 2px solid #dee2e6;
  display: flex;
  align-items: center;

  .title {
    margin: 0;
  }

  .right-content {
    margin-left: auto;
  }
}
