#top-bar {
  width: 100%;
  padding: 15px 15px 8px 15px;
  display: flex;
  background: #fff;
  position: relative;
  height: 65px;
  align-items: center;

  .top-bar-accent {
    background: $be-background-image;
    background-size: cover;
    background-position: top;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 7px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      background: $be-overlay-color;
    }
  }

  #top-bar-logo {
    margin: 0;
    font-weight: 600;
  }
}

.avatar {
  margin-left: auto;

  .avatar-btn {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    font-size: 1.2rem;
    background: $be-overlay-color;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border: none;
  }

  .avatar-dd {
    display: none;
    position: absolute;
    top: 100%;
    right: 15px;
    width: 260px;
    background: $gray-100;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,.2);
    border-radius: 3px;
    z-index: 100;

    &.open {
      display: block;
    }

    &-header {
      background: #2f66a0;
      color: rgba(255, 255, 255, .9);
      text-align: center;

      h5, p {
        margin: 0;
      }

      p {
        font-style: italic;
      }
    }

    &-body, &-header {
      padding: 1rem;
    }

    &-body {
      list-style-type: none;
      margin: 0;

      li {

      }
    }

    &-icon {
      margin-right: 5px;
    }
  }
}
