#top-bar {
  width: 100%;
  padding: 22px 15px 15px 15px;
  display: flex;
  background: #fff;
  position: relative;
  height: 80px;
  align-items: center;

  .top-bar-accent {
    background: url('../assets/images/landscape.jpg');
    background-size: cover;
    background-position: top;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 7px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      background: rgba(19, 11, 29, 0.8);
    }
  }

  #top-bar-logo {
    margin: 0;
    font-weight: 600;
  }
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 1px;
  font-size: 1.4rem;
  background: #9ea5a9;
  color: #fff;
  margin-left: auto;
  text-align: center;
}
