#top-bar {
  width: 100%;
  padding: 15px 15px 8px 15px;
  display: flex;
  background: #ececec;
  position: relative;
  height: 65px;
  align-items: center;

  .top-bar-accent {
    background: $be-background-image;
    background-size: cover;
    background-position: top;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 7px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      background: $be-overlay-color;
    }
  }

  #top-bar-logo {
    margin: 0;
    font-weight: 600;
  }

  .right-content {
    margin-left: auto;
    display: inline-flex;
    align-items: center;

    & > * {
      margin-left: 1.2rem;
    }

    .notifications {
      position: relative;

      .notifications-badge {
        position: absolute;
        width: 13px;
        height: 13px;
        background: #ffcf00;
        border: 1px solid #fff;
        top: 1px;
        left: -5px;
        z-index: 3;
        border-radius: 50%;
      }

      .notifications-dd {
        & > button {
          padding: 0;
          font-size::  1.3rem;
        }
      }
    }

    .avatar {
      .avatar-btn {
        width: 37px;
        height: 37px;
        border-radius: 50%;
        font-size: 1.2rem;
        background: $blue;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        border: none;
      }

      .avatar-dd {
        display: none;
        position: absolute;
        top: 100%;
        right: 15px;
        width: 260px;
        background: $gray-100;
        box-shadow: 0px 0px 12px 0px rgba(0,0,0,.2);
        border-radius: 3px;
        z-index: 100;

        &.open {
          display: block;
        }

        &-header {
          background: #2f66a0;
          color: rgba(255, 255, 255, .9);
          text-align: center;

          h5, p {
            margin: 0;
          }

          p {
            font-style: italic;
          }
        }

        &-body, &-header {
          padding: 1rem;
        }

        &-body {
          list-style-type: none;
          margin: 0;

          li {

          }
        }

        &-icon {
          margin-right: 5px;
        }
      }
    }
  }
}
