@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/mixins";

@import "./custom"; //override variables
@import "./variables";
@import "../../node_modules/bootstrap/scss/variables";

// Bootstrap
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/input-group";
@import "../../node_modules/bootstrap/scss/custom-forms";
@import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/progress";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/tooltip";
@import "../../node_modules/bootstrap/scss/popover";
@import "../../node_modules/bootstrap/scss/utilities";

@import "./components/panel";
@import "./components/side-nav";
@import "./components/title-bar";
@import "./components/top-bar";
@import "./components/table";
@import "./components/button";
@import "./components/dropdown";
@import "./components/form";
@import "./components/list-group";
@import "./components/block";
@import "./components/badge";
@import "./components/modal";
@import "./components/tabs";
@import "./components/counter-input";

body {
  background: $background-gray;
}

img {
  max-width: 100%;
}

h1 {
  font-weight: 200;
  font-size: $font-size-base * 2;
}

a {
  color: $blue;

  &:hover {
    text-decoration: none;
  }
}

main {
  padding-bottom: 40px;
}

.row {
  &.full-height-cols {
    & > * {
      display: flex;
    }
  }
}

.sticky {
  position: sticky;
  -webkit-position: sticky;
  top: 15px;
}

.search-input {
  width: 250px;
}

#login {
  display: flex;
  align-items: center;
  width: 400px;
  height: 100vh;
  margin: 0 auto;

  img {
    display: block;
    width: 250px;
    margin: 15px auto;
  }

  h2 {
    text-align: center;
  }
}
